  <%= form_for(:question, url: {controller: 'questions', action: 'create'}) do |f|  %>
  		<div class="form-group">
			<div class="ryan-overflow-form-label">
				Question Title
			</div>
			<div class="col-md-8 col-md-offset-2">
				<%= f.text_field :title, :placeholder => 'Question Title', class: "form-control" %>
			</div>
		</div>
		<br>
		<br>

		<div class="form-group">
			<div class="ryan-overflow-form-label">
				Question Content
			</div>
			<div class="col-md-8 col-md-offset-2">
				<%= f.text_field :content, :placeholder => 'Question Content', class: "form-control" %>
			</div>
		</div>
		<br>
		<br>


				<div class="ryan-overflow-form-button">
					<%= f.submit "Submit", class: "btn btn-default btn-primary" %>
				</div>
			

	<% end %>
