<!-- QUESTION EDIT -->
<div class="row">
    <div class="col-xs-12 page-title">
        <span class="section-title">
            <span class="section-title-bookends">:::::</span> 
            Edit Your Question
            <span class="section-title-bookends">:::::</span>
        </span>
    </div>
</div>
<!-- RenderQuestion Form –––––––––––––––––––––––––––––––––-->
<%= render partial: 'form', locals: {question: @question} %>
