<h1>Questions</h1>


<% @questions.each do |question| %>
Title: <%= question.title %>
<br>
Content: <%= question.content %>
<br>
Asked By: <%= question.user.name %>
<br>


Answer: <% answers =  question.answers %>
<% answers.each do |answer| %>
<%= answer.content %>
<% end %>


<% end %>
