<!-- QUESTION NEW -->
<div class="row">
	<div class="col-xs-10 col-xs-offset-1" style="text-align:center; text-decoration:underline; margin-bottom: 25px;">
		<h2> Ask A Question </h2>
	</div>
</div>
	<%= render partial: 'form', locals: {question: @question} %>
