<!-- SESSIONS LOGIN FORM -->
<div class="row">
   <div class="col-xs-10 col-xs-offset-1" style="text-align:center; text-decoration:underline; margin-bottom: 25px;">
      <h3>Ryan Overflow Login</h3>
   </div>
</div>
<%= form_tag(:action => 'create') do %>
   <div class="container">
      <div class="form-group">
         <div class="form-input-label">
            Login Email
         </div>
         <div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10 ">
            <%= text_field_tag :email %>
         </div>
      </div>
      <br>
      <div class="form-group">
         <div class="form-input-label">
            Ryan Overflow Password
         </div>
         <div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
            <%= password_field_tag :password %>
         </div>
         <br>
         <br>
         <div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
            <button type="submit" class="btn btn-default btn-primary">
               <span class="glyphicon glyphicon-pencil"></span>&nbsp
                  Login
            </button>
         </div>
      </div>
   </div>
<br><br><br>				
<% end %>


 

   
