<!-- USER EDIT -->
<div class="row">
	<div class="col-xs-10 col-xs-offset-1" style="text-align:center; text-decoration:underline; margin-bottom: 25px;">
		<h3> Edit Profile </h3>
	</div>
</div>

<%= render partial: 'form', locals: {user: @user} %>
