	<%= form_for(:answer, url: {controller: 'answers', action: 'create'}) do |f|  %>
		<div class="form-group">
			<div class="ryan-overflow-form-label">
				Content
			</div>
			<div class="col-md-8 col-md-offset-2">
				<%= f.text_field :content, :placeholder => 'Answer Content', class: "form-control" %>
			</div>
		</div>
		<br>
		<br>

			
				<%= f.hidden_field :question_id, :value => @question.id %>
			
			
				<div class="ryan-overflow-form-button">
					<%= f.submit "Submit", class: "btn btn-default btn-primary" %>
				</div>

	<% end %>
