<div class="container-fluid">
	<br>
	<br>
	<%= form_for(:answer, url: {controller: 'answers', action: 'create'}) do |f|  %>
	<div class="form-group">
		<div class="col-md-10 col-md-offset-1 ryan-overflow-form-label">
			<h4>Your Answer</h4>
		</div>
		<div class="col-md-10 col-md-offset-1">
			<%= f.text_area :content, rows: "10", placeholder: 'Answer Content', class: "form-control" %>
		</div>
	</div>

	<%= f.hidden_field :question_id, value: @answer.question.id %>

	<div class="col-md-10 col-md-offset-1">
		<div class="ryan-overflow-form-button">
			<%= f.submit "Submit", class: "btn btn-default btn-primary" %>
		</div>
	</div>

	<% end %>
	<br>
	<br>
	<br>
	<!-- Close Container -->
</div>
