<!-- ANSWER EDIT -->
<div class="row">
    <div class="col-xs-12 page-title">
               <span class="section-title">
                    <span class="section-title-bookends">:::::</span> 
                      Edit Your Answer
                    <span class="section-title-bookends">:::::</span>
              </span>
    </div>
</div>
<%= render partial: 'form', locals: {answer: @answer} %>
