/*
=====================================================================
www.RyanUrie.com 
=====================================================================
*/
html {
	color: #4C4646 ;
	font-family: 'PT Sans', sans-serif;
}
a {
	color: #4C4646 ;
}
a:hover {
	color: #bad999;
}
main {
	margin-top: 0px;
}
.section-header {
	text-align: center;
	font-size: 3em;
	text-decoration: underline;
	color: #4C4646 ;
	margin-bottom: 1em;
}
.pholder-text::-webkit-input-placeholder { color: #709dc4; }
.pholder-text:-moz-placeholder { color: #709dc4; }
.pholder-text::-moz-placeholder { color: #709dc4; }
.pholder-text:-ms-input-placeholder { color: #709dc4; }
.nav > li{
  margin-right: -5px;
} 
.btn {
	margin-top: 8px;
}
.btn a:hover {
	background: transparent;
	color: #709dc4;
}
.left-nav-button {
	margin-right: 15px;
}
.ryan-overflow-form-label {
	text-align: center;
	// margin: 0 auto;
	text-decoration: underline;
	font-weight: bold;
}
.flash-message-alert {
	text-align: middle;
	color: red;
	font-weight: bold;
	text-decoration: underline overline;
	font-size: 28px;
}
.ryan-overflow-form-button {
	text-align: center;
}
#nav-brand-roverflow {
	position: absolute;
   	left: 10px;
}
#page-main-content {
	margin-bottom: 150px;
}
footer {
	width: 100%;
	height: 15px;
	position: relative;
	bottom: 0;
	text-align: center;
	background: #f8f8f8;
	border-top: 1px solid #000;
	font-size: 26px;
}
// -------------------------------------  Index  (Questions Index) -----------------------------------
.questions-index-row { 
	border-bottom: 2px solid #4C4646;
	padding-top: 5px;
	padding-bottom: 5px;
}
.questions-index-title { }
.questions-index-content { }
.questions-index-votes-answers {
	text-align: center;
 }
.questions-index-user { }
.questions-index-answer-content { }
.questions-index-answer-votes-answers { }
.questions-index-answer-user { }
.questions-index-title { }


.index-profile-image {
	width: 54px;
	 height: 54px;
	 border: 1px solid #4C4646;
	 padding: 3px;
	 margin-top: 5px;
}
// ---------------------------------------- QUESTION SHOW ----------------------------------------

.question-title {
	margin-bottom: 10px;
}
.question-votes { }
.question-content { }
.question-tags {
	text-align: center;
}
.question-edit { }
.question-user {

}
.question-profile-image {
	width: 54px;
	 height: 54px;
	 border: 1px solid #4C4646;
	 padding: 3px;
	 margin-top: 5px;
}
.question-comments { }
.question-add-comment { }

// ----------------------- QUESTION SHOW ANSWER-------------------
.question-show-header { 
	border-bottom: 2px solid #efefef;
	margin-bottom: 10px;
	}
.question-answer-sort { }
.question-answer-votes { }
.question-answer-content { }
.answer-edit { }
.answer-user { }
.answer-profile-image {
	width: 54px;
	 height: 54px;
	 border: 1px solid #4C4646;
	 padding: 3px;
	 margin-top: 5px;
}
.answer-comment { }

// ------------------------------------------ USERS INDEX ------------------------------------------
.user-index-row {
	border-bottom: 2px solid #4C4646;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.user-index-profile {
	position: absolute;
    	bottom: 0;
    	left: 0;
 }
.user-index-profile-image { 
	width: 108px;
	 height: 108px;
	 border: 1px solid #4C4646;
}
.user-index-questions { }
.user-index-answers { }
.user-index-votes { }
// ------------------------------------------ USERS SHOW ------------------------------------------
.user-show-row {
	border-bottom: 2px solid #4C4646;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.user-headers {
	text-align: center; 
	text-decoration: underline;
	margin-top: 45px;
}
.user-show-profile {
	position: absolute;
    	bottom: 0;
    	left: 0;
 }
.user-show-profile-image { 
	width: 108px;
	 height: 108px;
	 border: 1px solid #4C4646;
}
.user-show-questions { }
.user-show-answers { }
.user-show-votes { }


// ------------------------------------------ Mobile Media Query ------------------------------------------
@media (max-width: 767px) and (min-width: 2px){
	// .btn {
	// width: 70%;
	// margin-bottom: 15px;
	// margin-left: 15%;
	// margin-right: 15%;
	// }
	
	// .search-nav-item {
	// width: 70%;
	// margin-left: 15%;
	// margin-right: 15%;
	// }

	// nav li a{
	// text-align: center;
	// }

	
}
// -------------------------------------- End Mobile Media Query ---------------------------------------
