/*
=====================================================================
www.RyanUrie.com 
=====================================================================
*/

html, body {
 height: 100%;
 margin: 0;
}
a {
   color: #4C4646 ;
}
a:hover {
   color: #bad999;
}
@mixin ryan-overflow-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.page-title {
   text-align:center; 
   text-decoration:underline; 
   margin-bottom: 25px;
}
.pholder-text::-webkit-input-placeholder {
   color: #2E66B2; 
}
.pholder-text:-moz-placeholder {
   color: #2E66B2; 
}
.pholder-text::-moz-placeholder {
   color: #2E66B2; 
}
.pholder-text:-ms-input-placeholder {
   color: #2E66B2; 
}
.nav > li{
 margin-right: -5px;
} 
.btn {
	margin-top: 8px;
}
.btn-primary.btn-outline {
  color: #2E66B2;
  background-color: transparent;
}
.btn-success.btn-outline {
  color: #5cb85c;
  background-color: transparent;
}
.btn-info.btn-outline {
  color: #5bc0de;
  background-color: transparent;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
  background-color: transparent;
}
.btn-danger.btn-outline {
  color: #d9534f;
  background-color: transparent;
}
.btn-primary.btn-outline:hover{
  color: #fff;
  background: #2E66B2;  
}
.btn-success.btn-outline:hover{
  color: #fff;
  background: #5cb85c;    
}
.btn-info.btn-outline:hover{
  color: #fff;
  background: #5bc0de;   
}
.btn-warning.btn-outline:hover{
  color: #fff;
  background: #f0ad4e;     
}
.btn-danger.btn-outline:hover {
  color: #fff;
  background: #d9534f;      
}
.edit-delete-buttons {
   margin: 0 auto;
    display: inline-block;
}
.edit-button {
   float: left;
}
.delete-button {
   margin-left: 15px;
   float: left
}
.left-nav-button {
	// margin-right: 15px;
}
.flash-message-alert {
	color: #add8e6;
	font-weight: bold;
	text-decoration: underline overline;
	font-size: 26px;
	text-align: center;
}
// .flash-message-alert p span{
//     border: 9px solid #4C4646;
//     font-weight: bold;
//    text-decoration: underline overline;
//    font-size: 26px;
//    text-align: center;
//    color: #add8e6;
//    padding: 5px;
//    color: #add8e6;
// }

#nav-brand-roverflow {
	position: absolute;
  left: 10px;
} 

// footer {
// 	text-align: center;
// 	background: #e7e7e7;
// }
// -------------------------------------  Index  (Questions Index) -----------------------------------
.index-header {
   text-align: center;
}
.content-row {
   height: 300px;
   overflow: hidden;
}
.index-question-content {
   text-align: center;
   margin: auto;
}
.questions-index-row { 
	border-bottom: 2px solid #4C4646;
	padding-bottom: 5px;
}
.index-reputation {
   padding: -10px;
   border: 2px solid #FF5C2B;
   background: #2E66B2;
   border-radius:12px;
   width: 50%;
   margin: 0 auto;
   color: #fff
}
.index-question-content {
  @include ryan-overflow-align();
}
.index-tag {
   color: #fff;
   float:left;
   border: 2px solid #FF5C2B;
   background: #2E66B2;
   border-radius: 8px;
   width: 75px;
   height: 25px;
   margin-left: 5px;
   margin-bottom: 5px; 
}
.index-votes {
}
.questions-index-votes {
   text-align: center;
   margin: auto;
   margin-top: 10px;
   height: 135px;
   width: 75px;
   border: 2px solid #FF5C2B;
   background: #2E66B2;
   border-radius: 8px;
   color: #fff;
}
.questions-index-votes-buttons {
   border: 1px dashed #000;
   border-radius: 6px;
   background-color: #e9e9e9;
   padding: 5px;
}
.up-vote {
   color:green; 
   margin-bottom:8px;
}
.down-vote {
   color:red; 
   margin-top:6px;
}

.user-profile-badge {
   width: 100%;
   text-align: center;
}
.user-profile-badge img {
  width: 150px;
  height: 150px;
  border: 1px solid #4C4646;
  padding: 10px;
  margin-top: 7px;
}
// ---------------------------------------- QUESTION SHOW ----------------------------------------
.question-title {
	margin-bottom: 10px;
}
.question-tags {
	text-align: center;
}
.question-profile-image {
	width: 54px;
 height: 54px;
 border: 1px solid #4C4646;
 padding: 3px;
 margin-top: 5px;
}
// ----------------------- QUESTION SHOW ANSWER-------------------
.question-show-header { 
	border-bottom: 2px solid #efefef;
	margin-bottom: 10px;
}
.answer-profile-image {
	width: 54px;
 height: 54px;
 border: 1px solid #4C4646;
 padding: 3px;
 margin-top: 5px;
}
// ------------------------------------------ USERS INDEX ------------------------------------------
.user-index-row {
	border-bottom: 2px solid #4C4646;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.user-index-profile {
	position: absolute;
 bottom: 0;
 left: 0;
}
.user-index-profile-image { 
	width: 108px;
 height: 108px;
 border: 1px solid #4C4646;
}
// ------------------------------------------ USERS SHOW ------------------------------------------
.user-show-row {
	border-bottom: 2px solid #4C4646;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.user-headers {
	text-align: center; 
	text-decoration: underline;
	margin-top: 45px;
}
.user-show-profile {
	position: absolute;
 bottom: 0;
 left: 0;
}
.user-show-profile-image { 
	width: 108px;
 height: 108px;
 border: 1px solid #4C4646;
}
// ---------------------------------------- ANSWER SHOW ----------------------------------------
.answer-show-row {
	border-bottom: 2px solid #4C4646;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.answer-headers {
	text-align: center; 
	text-decoration: underline;
	margin-top: 25px;
	// padding-bottom: -15px;
}
.answer-show-question-number {
	margin-bottom: 10px;
}
.answer-show-votes {
	text-align: center;
}
.answer-show-profile-image {
	width: 54px;
 height: 54px;
 border: 1px solid #4C4646;
 padding: 3px;
 margin-top: 5px;
}
// ------------------------------------------ FORM ------------------------------------------
.form-group {
	text-align: center;
}
.form-input-label {
	text-decoration: underline;
	font-weight: bold;
	margin-top:25px;
	margin-bottom:10px;
}
// ------------------------------------------ Mobile Media Query ------------------------------------------
@media (max-width: 767px) and (min-width: 2px){
	// .btn {
	// width: 70%;
	// margin-bottom: 15px;
	// margin-left: 15%;
	// margin-right: 15%;
	// }
	
	// .search-nav-item {
	// width: 70%;
	// margin-left: 15%;
	// margin-right: 15%;
	// }

	// nav li a{
	// text-align: center;
	// }
}
// -------------------------------------- End Mobile Media Query ---------------------------------------
