/*
=====================================================================
www.RyanUrie.com 
=====================================================================
*/

html, body {
  height: 100%;
  margin: 0;
}




a {
	color: #4C4646 ;
}
a:hover {
	color: #bad999;
}

.pholder-text::-webkit-input-placeholder { color: #709dc4; }
.pholder-text:-moz-placeholder { color: #709dc4; }
.pholder-text::-moz-placeholder { color: #709dc4; }
.pholder-text:-ms-input-placeholder { color: #709dc4; }
.nav > li{
  margin-right: -5px;
} 
.btn {
	margin-top: 8px;
}
.btn a:hover {
	background: transparent;
	color: #709dc4;
}
.left-nav-button {
	margin-right: 15px;
}

.flash-message-alert {
	color: red;
	font-weight: bold;
	text-decoration: underline overline;
	font-size: 26px;
	text-align: center;
}

#nav-brand-roverflow {
	position: absolute;
   	left: 10px;
} 

// footer {
// 	text-align: center;
// 	background: #e7e7e7;
// }
// -------------------------------------  Index  (Questions Index) -----------------------------------
.questions-index-row { 
	border-bottom: 2px solid #4C4646;
	padding-top: 5px;
	padding-bottom: 5px;
}
// .questions-index-title { }
// .questions-index-content { }
.questions-index-votes-answers {
	text-align: center;
 }
// .questions-index-user { }
// .questions-index-answer-content { }
// .questions-index-answer-votes-answers { }
// .questions-index-answer-user { }
// .questions-index-title { }

.index-profile-image {
	width: 54px;
	 height: 54px;
	 border: 1px solid #4C4646;
	 padding: 3px;
	 margin-top: 5px;
}
// ---------------------------------------- QUESTION SHOW ----------------------------------------

.question-title {
	margin-bottom: 10px;
}
// .question-votes { }
// .question-content { }
.question-tags {
	text-align: center;
}
// .question-edit { }
// .question-user { }
.question-profile-image {
	width: 54px;
	 height: 54px;
	 border: 1px solid #4C4646;
	 padding: 3px;
	 margin-top: 5px;
}
// .question-comments { }
// .question-add-comment { }

// ----------------------- QUESTION SHOW ANSWER-------------------
.question-show-header { 
	border-bottom: 2px solid #efefef;
	margin-bottom: 10px;
	}
// .question-answer-sort { }
// .question-answer-votes { }
// .question-answer-content { }
// .answer-edit { }
// .answer-user { }
.answer-profile-image {
	width: 54px;
	 height: 54px;
	 border: 1px solid #4C4646;
	 padding: 3px;
	 margin-top: 5px;
}
// .answer-comment { }

// ------------------------------------------ USERS INDEX ------------------------------------------
.user-index-row {
	border-bottom: 2px solid #4C4646;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.user-index-profile {
	position: absolute;
    	bottom: 0;
    	left: 0;
 }
.user-index-profile-image { 
	width: 108px;
	 height: 108px;
	 border: 1px solid #4C4646;
}
// .user-index-questions { }
// .user-index-answers { }
// .user-index-votes { }
// ------------------------------------------ USERS SHOW ------------------------------------------
.user-show-row {
	border-bottom: 2px solid #4C4646;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.user-headers {
	text-align: center; 
	text-decoration: underline;
	margin-top: 45px;
}
.user-show-profile {
	position: absolute;
    	bottom: 0;
    	left: 0;
 }
.user-show-profile-image { 
	width: 108px;
	 height: 108px;
	 border: 1px solid #4C4646;
}
// .user-show-questions { }
// .user-show-answers { }
// .user-show-votes { }

// ---------------------------------------- ANSWER SHOW ----------------------------------------
.answer-show-row {
	border-bottom: 2px solid #4C4646;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.answer-headers {
	text-align: center; 
	text-decoration: underline;
	margin-top: 25px;
	// padding-bottom: -15px;
}
.answer-show-question-number {
	margin-bottom: 10px;
}
// .answer-show-question-title { }
// .answer-show-content { }
.answer-show-votes {
	text-align: center;
}
// .answer-show-user { }
.answer-show-profile-image {
	width: 54px;
	 height: 54px;
	 border: 1px solid #4C4646;
	 padding: 3px;
	 margin-top: 5px;
}


// ------------------------------------------ FORM ------------------------------------------
.form-group {
	text-align: center;
}

.form-input-label {
	text-decoration: underline;
	font-weight: bold;
	margin-top:25px;
	margin-bottom:10px;
}







// ------------------------------------------ Mobile Media Query ------------------------------------------
@media (max-width: 767px) and (min-width: 2px){
	// .btn {
	// width: 70%;
	// margin-bottom: 15px;
	// margin-left: 15%;
	// margin-right: 15%;
	// }
	
	// .search-nav-item {
	// width: 70%;
	// margin-left: 15%;
	// margin-right: 15%;
	// }

	// nav li a{
	// text-align: center;
	// }

	
}
// -------------------------------------- End Mobile Media Query ---------------------------------------
