// ------------------------------------------ USERS ------------------------------------------
#users-index-table {
	width: 90%;
	margin: 0 auto;
	outline: 2px solid #4C4646;
}

.users-index-row {
	border-top: 2px solid #4C4646;
	padding-top: 80px;
}

.users-table-logo {
	padding-top: 5px;
	padding-bottom: 5px;
	border: 2px solid red;
}
